@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Note {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(44, 42, 42);
}

.form {
    position: relative;
    padding: 60px 50px;
    width: 500px;
    height: 200px;
    background: black;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgb(116, 119, 114);
    border-radius: 5px;
}

.form-inner {
    position: absolute;
    height: 98%;
    width: 98%;
    top: 50%;
    left: 50%;
    background: #0c0116;
    transform: translate(-50%, -50%);
}

.content {
    height: 100%;
    width: 100%;
    padding: 25px;
}

.input,
.btn {
    display: block;
    padding: 12px 15px;
    width: 100%;
    box-sizing: border-box;
    /* Добавлено */
    border-radius: 10px;
    margin-top: 20px;
    /* Для btn будет переопределен ниже */
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    font-size: 18px;
    /* Добавлено, чтобы они были одного размера */
    background: rgb(44, 42, 42);
    /* Добавлено, чтобы они имели одинаковый фон */
}

.input {
    border: 1.5px solid rgba(0, 255, 0, 0.5);
    color: #40C057;
}

.btn {
    cursor: url('../cursor/cursor.svg'), auto;
    color: #40C057;
    border: none;
    background: rgb(44, 42, 42);
    /* Убедитесь, что это одинаковый фон */
    margin-top: 40px;
    /* Переопределяем margin-top */
    transition: 0.4s;
}

.btn:hover {
    background: rgba(0, 255, 0, 0.5);
}

.form span {
    position: absolute;
    height: 50%;
    width: 50%;

}

.form span:nth-child(1) {
    background: rgba(0, 255, 0, 0.5);
    top: 0;
    left: -48%;
    animation: 15s span1 infinite linear;
    animation-delay: 3s;
}

.form span:nth-child(2) {
    background: rgba(0, 255, 0, 0.5);
    bottom: 0;
    right: -48%;
    animation: 15s span2 infinite linear;
}

.form span:nth-child(3) {
    background: rgba(0, 255, 0, 0.5);
    right: -48%;
    top: 0px;
    animation: 15s span3 infinite linear;
}

.form span:nth-child(4) {
    background: rgba(0, 255, 0, 0.5);
    bottom: 0;
    right: -48%;
    animation: 15s span4 infinite linear;
    animation-delay: 3s;
}

@keyframes span1 {
    0% {
        top: -48%;
        left: -48%;
    }

    25% {
        top: -48%;
        left: 98%;
    }

    50% {
        top: 98%;
        left: 98%;
    }

    75% {
        top: 98%;
        left: -48%;
    }

    100% {
        top: -48%;
        left: -48%;
    }
}

@keyframes span2 {
    0% {
        bottom: -48%;
        right: -48%;
    }

    25% {
        bottom: -48%;
        right: 98%;
    }

    50% {
        bottom: 98%;
        right: 98%;
    }

    75% {
        bottom: 98%;
        right: -48%;
    }

    100% {
        bottom: -48%;
        right: -48%;
    }
}

@keyframes span3 {
    0% {
        top: -48%;
        left: -48%;
    }

    25% {
        top: -48%;
        left: 98%;
    }

    50% {
        top: 98%;
        left: 98%;
    }

    75% {
        top: 98%;
        left: -48%;
    }

    100% {
        top: -48%;
        left: -48%;
    }
}

@keyframes span4 {
    0% {
        bottom: -48%;
        right: -48%;
    }

    25% {
        bottom: -48%;
        right: 98%;
    }

    50% {
        bottom: 98%;
        right: 98%;
    }

    75% {
        bottom: 98%;
        right: -48%;
    }

    100% {
        bottom: -48%;
        right: -48%;
    }
}